*__pycache__*
nohup.out
annot.opcorpora.xml
dataset.zip
graph.dot*
*russian3*
*lib.zip
lib/build*
*/cache/*
lib/cache2/*
lib/runs/*
lib/run_big/*
cache/*
lib/dist*
lib/lib.egg-info*
app-web/public/js/*.js
app-web/public/js/*.map
app-web/dist/
.cache